.edit-contact {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;

  &:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }

  md-card-header {
    .title {
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #1A237E;
    }

    md-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      cursor: pointer;
    }
  }

  md-card-content {
    position: relative;
    height: calc(100% - 120px);
    overflow-y: auto;

    md-input-container {
      .error {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 22px;
        color: #F44336;
        font-size: 11px;
      }
    }

    form {
      position: relative;
      width: 100%;

      .base-info {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .avatar {
          position: relative;
          width: 200px;
          height: 200px;
          background-color: #CFD8DC;
          border-radius: 4px;
          margin-right: 32px;

          app-file-upload {
            position: absolute;
            bottom: 36px;
            left: calc(50% - 16px);
          }

          .del {
            position: absolute;
            width: 32px;
            height: 32px;
            padding: 4px;
            bottom: 4px;
            left: calc(50% - 16px);
            cursor: pointer;
          }
        }

        .info {
          position: relative;
          width: calc(100% - 232px);
        }
      }
    }
  }

  md-card-actions {
    text-align: center;

    button {
      padding: 0 16px;
      background-color: #4CAF50;
      color: #ffffff;

      &:hover, &:focus {
        background-color: darken(#4CAF50, 5%);
      }
    }
  }
}