<md-card class="edit-contact">
  <md-card-header>
    <div class="title">{{title}}</div>
    <md-icon (click)="closeModal()">close</md-icon>
  </md-card-header>
  <md-card-content>
    <form [formGroup]="contactForm">
      <div class="base-info">
        <div class="avatar" [style.background-image]="'url(' + contact.avatar + ')'">
          <app-file-upload md-button
            *ngIf="contact.avatar === null"
            [sizeImg]="200"
            (dataUrl)="getImg($event)"
            (error)="getError($event)">
          </app-file-upload>
          <div class="del"
            *ngIf="contact.avatar !== null"
            (click)="delAvatar()">
            <md-icon>delete</md-icon>
          </div>
        </div>
        <div class="info">
          <md-input-container>
            <input mdInput
              type="text"
              placeholder="Фамилия"
              formControlName="lastName"
              autocomplete="off">
            <div *ngIf="(contactForm.controls['lastName'].dirty || contactForm.controls['lastName'].touched) && contactForm.controls['lastName'].invalid"
              class="error">
              {{contactFormErrors['lastName']}}
            </div>
          </md-input-container><br>
          <md-input-container>
            <input mdInput
              type="text"
              placeholder="Имя*"
              formControlName="firstName"
              autocomplete="off">
            <div *ngIf="(contactForm.controls['firstName'].dirty || contactForm.controls['firstName'].touched) && contactForm.controls['firstName'].invalid"
              class="error">
              {{contactFormErrors['firstName']}}
            </div>
          </md-input-container><br>
          <md-input-container>
            <input mdInput
              type="text"
              placeholder="Отчество"
              formControlName="middleName"
              autocomplete="off">
            <div *ngIf="(contactForm.controls['middleName'].dirty || contactForm.controls['middleName'].touched) && contactForm.controls['middleName'].invalid"
              class="error">
              {{contactFormErrors['middleName']}}
            </div>
          </md-input-container><br>
          <md-input-container>
            <input mdInput
              type="date"
              placeholder="Дата рождения"
              formControlName="birthDate"
              autocomplete="off">
          </md-input-container><br>
          <md-input-container>
            <input mdInput
              type="text"
              placeholder="Компания"
              formControlName="company"
              autocomplete="off">
            <div *ngIf="(contactForm.controls['company'].dirty || contactForm.controls['company'].touched) && contactForm.controls['company'].invalid"
              class="error">
              {{contactFormErrors['company']}}
            </div>
          </md-input-container><br>
          <md-input-container>
            <input mdInput
              type="text"
              placeholder="Должность"
              formControlName="position"
              autocomplete="off">
            <div *ngIf="(contactForm.controls['position'].dirty || contactForm.controls['position'].touched) && contactForm.controls['position'].invalid"
              class="error">
              {{contactFormErrors['position']}}
            </div>
          </md-input-container><br>
        </div>
      </div>
      <div class="add-info">
        <div class="communication">
          <md-input-container>
            <input mdInput
              type="text"
              placeholder="Номер телефона"
              formControlName="phone"
              autocomplete="off">
            <div *ngIf="(contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched) && contactForm.controls['phone'].invalid"
              class="error">
              {{contactFormErrors['phone']}}
            </div>
          </md-input-container>
          <md-input-container>
            <input mdInput
              type="text"
              placeholder="Email"
              formControlName="email"
              autocomplete="off">
            <div *ngIf="(contactForm.controls['email'].dirty || contactForm.controls['email'].touched) && contactForm.controls['email'].invalid"
              class="error">
              {{contactFormErrors['email']}}
            </div>
          </md-input-container>
        </div>
        <md-input-container>
          <textarea mdInput
            placeholder="Адрес"
            minRows="3"
            formControlName="place"
            autocomplete="off"></textarea>
          <div *ngIf="(contactForm.controls['place'].dirty || contactForm.controls['place'].touched) && contactForm.controls['place'].invalid"
            class="error">
            {{contactFormErrors['place']}}
          </div>
        </md-input-container>
      </div>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button
      [disabled]="!contactForm.valid"
      (click)="saveContact()">
      Сохранить
    </button>
  </md-card-actions>
</md-card>