<section class="login">
  <form #signinForm="ngForm"
        name="loginForm"
        (ngSubmit)="submit()"
        novalidate>
    <p>Log In</p>
    <md-input-container>
      <input mdInput
             type="text"
             name="login"
             [(ngModel)]="user.name"
             required
             #login="ngModel"
             placeholder="Login"
             autocomplete="off">
      <div *ngIf="login.errors && (login.dirty || login.touched)"
           class="alert">
        <div [hidden]="!login.errors.required">
          Поле не должно быть пустым!
        </div>
        <div [hidden]="!login.errors.auth">
          Login и/или пароль неверны!
        </div>
      </div>
    </md-input-container>
    <md-input-container>
      <input mdInput
             type="password"
             name="password"
             [(ngModel)]="user.password"
             required
             #password="ngModel"
             placeholder="Password"
             autocomplete="off">
      <div *ngIf="password.errors && (password.dirty || password.touched)"
           class="alert">
        <div [hidden]="!password.errors.required">
          Поле не должно быть пустым!
        </div>
        <div [hidden]="!password.errors.auth">
          Login и/или пароль неверны!
        </div>
      </div>
    </md-input-container>
    <div class="login-btn">
      <button type="submit"
              md-raised-button
              [disabled]="!signinForm.valid"
              color="primary">
        Login
      </button>
    </div>
  </form>
</section>
