.login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 16px;

    p {
      position: relative;
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 48px;
    }

    md-input-container {
      width: 100%;
      margin-bottom: 16px;

      .alert {
        position: absolute;
        top: 24px;
        width: 264px;
        text-align: center;
        font-size: 12px;
        color: #F44336;
      }
    }

    .login-btn {
      margin-top: 48px;
      position: relative;
      width: 100%;
      text-align: center;
      padding: 16px 0;
    }
  }
}
