.contact-data {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow-y: auto;

  .contact-data-btns {
    position: relative;
    width: 100%;
    height: 40px;

    button {
      position: relative;
      min-width: 40px;
      width: 40px;
      min-height: 40px;
      height: 40px;
      margin: 0 8px;
      padding: 0;
      border-radius: 4px;
      float: right;
      color: #ffffff;

      &.del {
        background-color: #F44336;
      }

      &.edit {
        background-color: #3F51B5;
      }
    }
  }

  .avatar, .no-avatar {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background-color: #CFD8DC;
    border-radius: 4px;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 32px 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: #3F51B5;
  }

  .field-wrap {
    position: relative;
    width: calc(100% - 296px);
    margin: 16px 0 16px 296px;
    color: rgba(0, 0, 0, 0.56);
    font-size: 18px;

    label {
      position: relative;
      display: inline-block;
      width: 100%;
      font-weight: bold;
      margin-right: 8px;
    }

    p {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 0;
      word-wrap: normal;
    }
  }
}