.main {
  position: relative;
  width: 100%;
  height: 100%;

  md-toolbar {
    height: 64px;

    .fill-space {
      flex: 1 1 auto;
    }
  }

  .main-body {
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    .list {
      position: relative;
      width: 320px;
      height: 100%;
      overflow-y: auto;
      border-right: 1px solid rgba(0, 0, 0, 0.12);

      .bar {
        position: relative;
        width: 100%;
        height: 56px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        button {
          padding: 0 16px;
          background-color: #4CAF50;
          color: #ffffff;

          &:hover, &:focus {
            background-color: darken(#4CAF50, 5%);
          }
        }
      }

      .list-body {
        position: relative;
        width: 100%;
        height: calc(100% - 112px);
        overflow-y: auto;
      }
    }

    .content, .no-select {
      position: relative;
      width: calc(100% - 320px);
      height: 100%;
    }

    .dialog {
      position: absolute;
      width: 640px;
      height: 90%;
      left: calc(50% - 320px);
      top: 5%;
      z-index: 5;
    }
  }
}