<section class="main">  
  <md-toolbar color="primary">
    <span>Контакты</span>
    <span class="fill-space"></span>
    <button md-icon-button
      (click)="exit()">
      <md-icon>exit_to_app</md-icon>
    </button>
  </md-toolbar>
  <div class="main-body">
    <div class="list">
      <div class="bar bar-btn">
        <button md-button
          (click)="openEditForm('new')">
          Создать
        </button>
      </div>
      <div class="bar">
      </div>
      <div class="list-body" appScrollable="30">
        <div *ngFor="let contact of contacts$ | async"
          class="contact-item"
          [ngClass]="{'selContact': contact.id === selectContactId}"
          (click)="select(contact)">
          <div *ngIf="!!contact.avatar" 
            class="avatar"
            [style.background-image]="'url(' + contact.avatar + ')'">
          </div>
          <div *ngIf="!contact.avatar" 
            class="no-avatar">
            {{contact.firstName[0]}}
          </div>
          <div class="info">
            <div class="info01">
              {{contact.firstName}} {{contact.middleName}} {{contact.lastName}}
            </div>
            <div class="info02">
              {{contact.email}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <router-outlet name="content">
      </router-outlet>
    </div>

    <div class="dialog">
      <router-outlet name="dialog">
      </router-outlet>
    </div>
  </div>
</section>
