<section class="main">  
  <md-toolbar color="primary">
    <span>Контакты</span>
    <span class="fill-space"></span>
    <button md-icon-button
      (click)="exit()">
      <md-icon>exit_to_app</md-icon>
    </button>
  </md-toolbar>
  <div class="main-body">
    <div class="list">
      <div class="bar">
        <button md-button
          (click)="openEditForm('create')">
          Создать
        </button>
      </div>
      <div class="bar">
      </div>
      <div class="list-body">
      </div>
    </div>

    <router-outlet name="content"
      class="content">
    </router-outlet>
    
    <router-outlet name="dialog"
      class="dialog">
    </router-outlet>
  </div>
</section>
