/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-orange);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

section, form, div, p, input {
  box-sizing: border-box;
}

.errorMsg {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-color: #EF9A9A !important;
  z-index: 100;

  span {
    color: #B71C1C;
  }
}

.successMsg {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-color: #A5D6A7 !important;
  z-index: 100;

  span {
    color: #1B5E20;
  }
}

.cdk-visually-hidden {
  opacity: 0;
}

md-dialog-container {
  .mat-dialog-content {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .confirm {
      background-color: #4CAF50;
      color: #ffffff;
      cursor: pointer;

      &.hover, &.focus {
        background-color: darken(#4CAF50, 10%);
      }
    }

    .cancel {
      background-color: #F44336;
      color: #ffffff;
      cursor: pointer;

      &.hover, &.focus {
        background-color: darken(#F44336, 10%);
      }
    }
  }
}
